<?xml version="1.0" ?>
<menu name="digital37">
	<node type="subMenu" name="File">
		<node type="command" name="Update" comment="Commit" cmd="import digital37.maya.file.StartSvnMaya;digital37.maya.file.StartSvnMaya.update()" mode="python" option="False"></node>
		<node type="command" name="Commit" comment="Commit" cmd="import digital37.maya.file.StartSvnMaya;digital37.maya.file.StartSvnMaya.commit()" cmd_option="import digital37.maya.file.StartSvnMaya;digital37.maya.file.StartSvnMaya.commit(option=1)" mode="python" option="True"></node>
	</node>
	
	<node type="subMenu" name="Commons">
	<node type="command" name="Relative Path" comment="Relative Path" cmd="import digital37.maya.general.RelativePath;digital37.maya.general.RelativePath.main()" mode="python" option="False"></node>
	</node>
		
	<node type="subMenu" name="Modeling">
		<node type="command" name="Check Model" comment="Check Model" cmd="import digital37.maya.modeling.checkModel;digital37.maya.modeling.checkModel.checkModel()" mode="python" option="False"></node>
		<node type="command" name="Base Check Model" comment="Base Check Model" cmd="from digital37.maya.modeling.baseCheckToolsChild import *" mode="python" option="False"></node>
	</node>
		
	<node type="subMenu" name="Animation">
		<node type="command" name="Camera" cmd="import digital37.maya.animation.renderCam;digital37.maya.animation.renderCam.CameraOnly();" comment='Camera' mode="python" option="False"></node>
		<node type="command" name="Camera and Aim" cmd="import digital37.maya.animation.renderCam;digital37.maya.animation.renderCam.CameraOnly();" comment='Camera' mode="python" option="False"></node>
		<node type="command" name="Camera" cmd="import digital37.maya.animation.renderCam;digital37.maya.animation.renderCam.CameraOnly();" comment='Camera' mode="python" option="False"></node>
		<node type="command" name="Bake Camera" cmd="xxzBakeCamera();" comment='Bake Camera' mode="mel"  option="False"></node>
		<node type="command" name="Playblast Show" cmd="playblastShow();" comment='Playblast Show' mode="mel" option="False"></node>
		<node type="command" name="Shot Camera List" cmd="shotCamLister();" comment='Shot Camera' mode="mel" option="False"></node>
		<node type="command" name="Motion Trail" cmd="michelMotionTrail();" comment='Motiontrail' mode="mel" option="False"></node>
		<node type="command" name="Auto Tangent" cmd="autoTangent();" comment='autotangent' mode="mel" option="False"></node>
		<node type="command" name="Multi Scaler" cmd="keyScalerButtons();" comment='Multiscaler' mode="mel" option="False"></node>
		<node type="command" name="Create Playblaset Movie" comment="Create Playblaset Movie" cmd="import digital37.maya.animation.PlayBlast;digital37.maya.animation.PlayBlast.PlayBlast().playBlast()" mode="python" option="False"></node>
	</node>
	
	<node type="subMenu" name="Utils">
		<node type="command" name="Check name" comment="Check if all nodes name are unique" cmd="import digital37.maya.utils;digital37.maya.utils.listNotUniqueName()" mode="python" option="False"></node>	
		<node type="command" name="Delete unknown node" comment="Delete unknown node" cmd="import digital37.maya.utils;digital37.maya.utils.deleteUnknownNode()" mode="python" option="False"></node>
		<node type="separator"></node>	
		<node type="command" name="Reload menu" comment="reload the digital37 menu" cmd="import digital37.maya.general.menu;digital37.maya.general.menu.loadMenu()" mode="python" option="False"></node>
		<node type="command" name="Reload shelf" comment="reload shelf custom shelf" cmd="import digital37.maya.general.shelf;digital37.maya.general.shelf.loadShelfs()" mode="python" option="False"></node>
	</node>
	
	<node type="subMenu" name="Dynamic">
		<node type="command" name="Create Hair Cache" comment="Create Hair Cache" cmd="import digital37.maya.dynamic.HairCache;digital37.maya.dynamic.HairCache.HairCache().create_hair_cache()" mode="python" option="False"></node>
		<node type="command" name="Create Cloth Cache" comment="Create Cloth Cache" cmd="import digital37.maya.dynamic.ClothCache;digital37.maya.dynamic.ClothCache.ClothCache().create_cloth_cache()" mode="python" option="False"></node>
		<node type="command" name="Create Playblaset Movie" comment="Create Playblaset Movie" cmd="import digital37.maya.dynamic.PlayBlast;digital37.maya.dynamic.PlayBlast.PlayBlast().playBlast()" mode="python" option="False"></node>
	</node>
	
	<node type="subMenu" name="Lighting">
		<node type="command" name="File Texture Manager" comment="File Texture Manager" cmd="FileTextureManager()" mode="mel" option="False"></node>
		<node type="command" name="Cleanup Light Links" comment="Cleanup Light Links" cmd="jrLightLinksCleanUp()" mode="mel" option="False"></node>
		<node type="command" name="Submit Job To Deadline" comment="Submit Job To Deadline" cmd="SubmitJobToDeadline" mode="mel" option="False"></node>
		<node type="command" name="Render Layer Pass Manager" comment="Render Layer Pass Manager" cmd="import digital37.maya.lighting.StartRenderLayerPassManager;digital37.maya.lighting.StartRenderLayerPassManager.main()" mode="python" option="False"></node>
	</node>
			
	<node type="subMenu" name="TD">
		<node type="command" name="Bake to alembic" comment="Bake to alembic" cmd="import digital37.maya.animation.baking;digital37.maya.animation.baking.main()" mode="python" option="False"></node>
		<node type="command" name="PyQt Test" comment="PyQt Test" cmd="import digital37.maya.general.windowPyQt2;digital37.maya.general.windowPyQt2.main()" mode="python" option="False"></node>
	</node>
	
	<node type="subMenu" name="Rigging">
	</node>
</menu>

